.box2{
    background: brown;
    margin: 0px 0px;
    border-radius: 22px;
    width: 18vw;
}
.ptaa:hover{
    color: black;
}
.box5{
    background: brown;
    margin: 0px 0px;
    border-radius: 22px;

}